/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

#testoAlternato {
    border: 2px solid black;
    margin-inline: auto;
    margin-top: 50px;
    width: 650px;
    height: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size:1.3em;
text-align: left;
padding-block: 20px;

}
i { color: grey;
position: absolute;
left: 45%;}
 .parole :first-of-type {
    display: inline-block;
   /* transform-origin: center;
    animation: ruota 3s infinite linear; */
  }

  .parole :first-of-type{
    animation: FadeIn 4s
  }
  .parole :nth-of-type(2) {
    animation: FadeOut 4s;
    left: 60%;
  }
  @keyframes FadeIn {
    from  { opacity: 0;}
    to {opacity: 1}
  }
@keyframes FadeOut {
    from  { opacity: 1;}
    to {opacity: 0}
}
/*.parole :nth-of-type(2)
{ display: none;} */
.parole :nth-of-type(3)
{ display: none;}

  /*
  @keyframes ruota {
    0% { transform: rotate(0deg); } 
    100% { transform: rotate(30deg); } 
  }
  .parole :nth-of-type(2) {
    display: inline-block;
    transform-origin: center;
    animation: ruota 3s infinite linear; 
  }
  
  @keyframes ruota {
    0% { transform: rotate(0deg); } 
    100% { transform: rotate(180deg); } 
  }

  .parole :nth-of-type(3) {
    display: inline-block;
    transform-origin: center;
    animation: ruota 3s infinite linear; 
  }
  
  @keyframes ruota {
    0% { transform: rotate(0deg); } 
    100% { transform: rotate(180deg); } 
  }