/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

#testoAlternato {
    border: 2px solid black;
    margin-inline: auto;
    margin-top: 50px;
    width: 650px;
    height: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size:1.3em;
text-align: left;
padding-block: 20px;

}
i { color: grey}