/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

#testoAlternato {
    border: 2px solid black;
    margin-inline: auto;
    margin-top: 50px;
    width: 650px;
    height: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size:1.3em;
text-align: left;
padding-block: 20px;

}
i { color: grey;
position: absolute;
left: 50%;}
 .parole :first-of-type {
    display: inline-block;
   /* transform-origin: center;
    animation: ruota 3s infinite linear; */
  }

  .parole :first-of-type{
    animation: FadeIn 5s forwards}

  .parole :nth-of-type(2) {
    animation: FadeOut 15s forwards;
    
  }
  .parole :nth-of-type(3) {
    animation: FadeOut2 25s forwards;
   
  }
  @keyframes FadeIn {
    0%  { opacity: 1;}
    
    50%{opacity: 0}
    100% {opacity: 0}
  }
@keyframes FadeOut {
    0% { opacity: 0;}
    50% {opacity: 1}
    100% {opacity: 0;}

}
@keyframes FadeOut2 {
    0% { opacity: 0;}
    50% {opacity: 0}
    100% {opacity: 1;}
}



  /*
  @keyframes ruota {
    0% { transform: rotate(0deg); } 
    100% { transform: rotate(30deg); } 
  }
  .parole :nth-of-type(2) {
    display: inline-block;
    transform-origin: center;
    animation: ruota 3s infinite linear; 
  }
  
  @keyframes ruota {
    0% { transform: rotate(0deg); } 
    100% { transform: rotate(180deg); } 
  }

  .parole :nth-of-type(3) {
    display: inline-block;
    transform-origin: center;
    animation: ruota 3s infinite linear; 
  }
  
  @keyframes ruota {
    0% { transform: rotate(0deg); } 
    100% { transform: rotate(180deg); } 
  }